[Desktop Entry]
Version=1.0
Name=NESTEGG Core
Comment=NESTEGG P2P Cryptocurrency
Comment[fr]=NESTEGG, monnaie virtuelle cryptographique pair à pair
Comment[tr]=NESTEGG, eşten eşe kriptografik sanal para birimi
Exec=nestegg-qt %u
Terminal=false
Type=Application
Icon=nestegg128
MimeType=x-scheme-handler/nestegg;
Categories=Office;Finance;
StartupWMClass=NestEgg-qt
