
## <summary>policy for nestegg</summary>


########################################
## <summary>
##	Transition to nestegg.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nestegg_domtrans',`
	gen_require(`
		type nestegg_t, nestegg_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nestegg_exec_t, nestegg_t)
')


########################################
## <summary>
##	Execute nestegg server in the nestegg domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nestegg_initrc_domtrans',`
	gen_require(`
		type nestegg_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nestegg_initrc_exec_t)
')


########################################
## <summary>
##	Search nestegg lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nestegg_search_lib',`
	gen_require(`
		type nestegg_var_lib_t;
	')

	allow $1 nestegg_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nestegg lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nestegg_read_lib_files',`
	gen_require(`
		type nestegg_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nestegg_var_lib_t, nestegg_var_lib_t)
')

########################################
## <summary>
##	Manage nestegg lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nestegg_manage_lib_files',`
	gen_require(`
		type nestegg_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nestegg_var_lib_t, nestegg_var_lib_t)
')

########################################
## <summary>
##	Manage nestegg lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nestegg_manage_lib_dirs',`
	gen_require(`
		type nestegg_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nestegg_var_lib_t, nestegg_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nestegg environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nestegg_admin',`
	gen_require(`
		type nestegg_t;
		type nestegg_initrc_exec_t;
		type nestegg_var_lib_t;
	')

	allow $1 nestegg_t:process { ptrace signal_perms };
	ps_process_pattern($1, nestegg_t)

	nestegg_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nestegg_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nestegg_var_lib_t)

')

