# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=NESTEGG Core Daemon SNAP
Comment=testnet
GenericName=NESTEGG Digital Currency Daemon Client testnet network
Exec=nestegg-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/nestegg_testnet.png
MimeType=x-scheme-handler/egg;
Categories=X-Office;X-Finance;
Keywords=internet;nestegg;zegg;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
